* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: white;
}

html,
body {
  width: 100%;
  background-color: #000;
}

.container {
  height: 100vh;
  overflow: hidden;
}

.nav {
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2em 1em 2em 2em;
  border-bottom: 1px solid white;
  position: fixed;
  z-index: 100000;
}

.nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1em;
  font-weight: 300;
}

.nav-logo a:nth-child(1) {
  font-weight: 700;
}

.header {
  width: 100%;
  height: 30vh;
  padding: 2em;
  display: flex;
  margin-top: 100px;
  align-items: center;
}

.header .col {
  width: 60%;
}

.header .col:nth-child(2) {
  width: 40%;
}

.header h1 {
  position: relative;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

.header h2 {
  display: none;
}

.play-wrapper {
  position: relative;
  width: 100%;
  height: 80px;
  background: url("https://images.unsplash.com/photo-1515375380578-a0587184cedd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2899&q=80")
    no-repeat 50% 50%;
  background-size: cover;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4em;
}

.play-btn {
  width: 70px;
  height: 70px;
  background: #000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pattern {
  text-align: center;
  padding: 1em 0;
  letter-spacing: 10px;
  opacity: 0.2;
  color: gray;
}

.copy p {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.5;
}

.divider-container {
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2em;
}

.divider {
  width: 100%;
}

.hr {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.2);
}

.hero {
  display: flex;
  justify-content: flex-end;
}

.hero img {
  height: 100px;
  height: 90%;
}

.hero-wrapper {
  position: absolute;
  width: 0;
  height: 120%;
}

.marquee {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 3;
  background: #000;
  display: flex;
  align-items: center;
}

.marquee span {
  text-transform: uppercase;
  font-weight: 400;
  color: #c0b1b1;
  mix-blend-mode: normal !important;
  font-size: 4em;
  padding-left: -10%;
  animation: marquee-animation 80s linear infinite;
}

@keyframes marquee-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.project-main-container {
  margin: 60px auto 30px;
  width: 100%;
}

.first-container {
  margin-top: 130px;
}

.project-main-container:not(:last-child) {
  border-bottom: 1px solid white;
}

.project-main-container:last-child {
  padding-bottom: 30px;
}

.project-container {
  position: relative;
  z-index: 10000;
  width: 100%;
  margin-bottom: 60px;
}

.project-sub-container > * {
  position: relative;
  text-align: left;
}

.project-sub-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.github {
  margin-top: 12px;
}

h1 {
  font-weight: 700;
  font-size: 5vw;
}

p {
  margin: 1em 0 0 0;
  font-size: 1.8vw;
}

.highlight {
  font-weight: 700;
}

.contact-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 150px;
}

.copy {
  width: 40vw;
  padding: 2em;
  display: flex;
  align-items: center;
}

.copy-wrapper {
  width: 90%;
}

.copy-wrapper h1 {
  font-family: "Morgenwalsh";
  text-transform: none;
  font-size: 3rem;
  line-height: 1;
  padding: 0 0 1em 0;
}

.copy-wrapper h2 {
  line-height: 1;
  padding: 0 0 1em 0;
}

.copy-wrapper p {
  font-family: "Neue Montreal";
  width: 75%;
  line-height: 1.5;
}

button {
  position: relative;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  font-family: "Formula Condensed";
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  line-height: inherit;
  cursor: pointer;
}

button::after {
  position: absolute;
  content: "";
  display: block;
  top: 100%;
  left: 0;
  transform: translate(0, -50%);
  width: 0;
  height: 3px;
  background: #000;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover::after {
  width: 100%;
}

.overlay {
  width: 50vw;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-copy {
  width: 75%;
}

#subtitle {
  font-family: "Wremena";
  line-height: 2;
}

.titlebar {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Formula Condensed";
  text-transform: uppercase;
  font-size: 3rem;
  z-index: 0;
}

.titlebar #flag {
  position: relative;
  top: -0.2rem;
  margin: 0 0.4em;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.form input,
textarea {
  background: none;
  outline: none;
  border: none;
  resize: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0.8em;
  color: #fff;
  margin: 1em 0;
  font-size: 1.2rem;
}

::placeholder,
textarea {
  font-family: "Neue Montreal";
}

@media (max-width: 1300px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copy {
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    width: 100vw;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .image-box {
    display: block;
  }

  .header h1 {
    display: none;
  }

  .header h2 {
    display: block;
  }

  .project-main-container {
    width: 100%;
  }

  .project-sub-container {
    width: 80%;
  }

  .contact {
    margin-top: 30px;
  }

  .copy-wrapper {
    width: 100%;
  }

  .copy-wrapper p {
    width: 100%;
    text-align: center;
    padding: 6em 0;
  }

  .copy-wrapper h2 {
    font-size: 4vw;
  }

  .overlay {
    right: -100%;
  }
}

@media (max-width: 420px) {
  .nav {
    font-size: 10px;
  }

  .first-container {
    margin-top: 80px;
  }

  .blob {
    width: 100%;
    height: 200px;
    margin: 30px 0;
  }
}
