* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background: #cabfb8;
}

.container {
  height: 100vh;
  overflow: hidden;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em 1em 2em 2em;
  font-family: "Monument Extended";
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
}

.nav > * {
  position: relative;
}

.nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  padding: 0 1em;
  font-weight: 300;
}

.nav-logo a:nth-child(1) {
  font-weight: 700;
}

.header {
  width: 100%;
  height: 30vh;
  padding: 2em;
  display: flex;
  align-items: center;
}

.header .col {
  width: 60%;
}

.header .col:nth-child(2) {
  width: 40%;
}

.header h1 {
  position: relative;
  font-family: "Monument Extended";
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

.header h2 {
  display: none;
}

.play-wrapper {
  position: relative;
  width: 100%;
  height: 80px;
  background: url("https://images.unsplash.com/photo-1515375380578-a0587184cedd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2899&q=80")
    no-repeat 50% 50%;
  background-size: cover;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4em;
}

.play-btn {
  width: 70px;
  height: 70px;
  background: #000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn ion-icon {
  color: #d4ff3f;
}

.pattern {
  text-align: center;
  padding: 1em 0;
  letter-spacing: 10px;
  opacity: 0.2;
}

.copy p {
  font-family: "Monument Extended";
  font-size: 10px;
  font-weight: 300;
  line-height: 1.5;
}

.divider-container {
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2em;
}

.divider {
  width: 100%;
}

.hr {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.2);
}

.hero {
  display: flex;
  justify-content: flex-end;
}

.hero img {
  width: 100%;
  height: 90%;
}

.hero-wrapper {
  position: absolute;
  width: 0;
  height: 120%;
  background: #cabfb8;
}

.marquee {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 3;
  background: #000;
  display: flex;
  align-items: center;
}

.marquee span {
  font-family: "Monument Extended";
  text-transform: uppercase;
  font-weight: 400;
  color: #c0b1b1;
  mix-blend-mode: normal !important;
  font-size: 4em;
  padding-left: -10%;
  animation: marquee-animation 80s linear infinite;
}

@keyframes marquee-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.project-main-container {
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
}

.project-container {
  position: relative;
  z-index: 10000;
  width: 100%;
}

.project-sub-container > * {
  position: relative;
  text-align: left;
}

.project-sub-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: "Voyage";
  font-weight: 700;
  font-size: 5vw;
}

p {
  margin: 1em 0 0 0;
  font-family: "Neue Montreal";
  font-size: 1.8vw;
}

.responsible-function,
.planning-the-road {
  font-weight: 700;
}

.image-box {
  display: flex;
  margin-top: 30px;
}

.blob {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .image-box {
    display: block;
  }
}

.dream-1 {
  background: url("../../public/dream1.png") no-repeat;
  background-size: contain;
}

.dream-2 {
  background: url("../../public/dream2.png") no-repeat;
  background-size: contain;
}

.dream-3 {
  background: url("../../public/dream3.png") no-repeat;
  background-size: contain;
}

.dream-4 {
  background: url("../../public/dream4.png") no-repeat;
  background-size: contain;
}

.rush-1 {
  background: url("../../public/rush1.png") no-repeat;
  background-size: contain;
}

.rush-2 {
  background: url("../../public/rush2.png") no-repeat;
  background-size: contain;
}

.rush-3 {
  background: url("../../public/rush3.png") no-repeat;
  background-size: contain;
}

.rush-4 {
  background: url("../../public/rush4.png") no-repeat;
  background-size: contain;
}

.rush-5 {
  background: url("../../public/rush5.png") no-repeat;
  background-size: contain;
}

.discatch-1 {
  margin-top: 30px;
  background: url("../../public/discatch1.png") no-repeat;
  background-size: contain;
}

.discatch-2 {
  background: url("../../public/discatch2.png") no-repeat;
  background-size: contain;
}

.discatch-3 {
  background: url("../../public/discatch3.png") no-repeat;
  background-size: contain;
}

.uzik-1 {
  background: url("../../public/uzik1.png") no-repeat;
  background-size: contain;
}

.uzik-2 {
  background: url("../../public/uzik2.png") no-repeat;
  background-size: contain;
}

.uzik-3 {
  background: url("../../public/uzik3.png") no-repeat;
  background-size: contain;
}

.uzik-4 {
  background: url("../../public/uzik4.png") no-repeat;
  background-size: contain;
}
